{% extends 'base.html' %}
{% block title %}
{{ block.super}} :: {{news.title }}
{% endblock title %}

{% block sidebar %}

{% include '_inc/_sidebar.html' %}

{% endblock sidebar %}

{% block content%}
    <div class="card mb-3">
        <div class="card-header">
            Category: <a href="{{ news.category.get_absolute_url}}">{{ news.category }}</a>
        </div>

        <div class="card-body">

            <div class="media">
                {% if news.photo %}
                <img src="{{ item.photo.url }}" width="250" height="200" class="mr-3">
                {% else %}
                <img src="https://picsum.photos/id/791/250/200/?blur" class="mr-3">
                {% endif %}
                <div class="media-body">
                    <h5 class="card-title">{{ news.title}}</h5>
                    <p class="card-text">{{ news.content}}</p>
                </div>
            </div>

        </div>
        <div class="card-footer text-muted">
            {{ news.created_at|timesince }}
        </div>
    </div>
{% endblock content %}